﻿@model Haskify.Models.ExerciseViewModel

<div class="jumbotron">
    <h1>@Model.ActiveCategory</h1>
    <p>@Html.Raw(Model.Introduction)</p>
    <p>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/@Model.ActiveCategory/1" role="button">Lets write some Haskell!</a>
    </p>
</div>
