﻿@model Haskify.Models.ExerciseViewModel
@{
    var exercise = Model.ActiveExercise;
}
<div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">@exercise.Title</div>
            <div class="panel-body">
                @exercise.Description
            </div>
        </div>


        <div class="solution-form-wrap">

            @{
                var routeValues = new RouteValueDictionary { { "category", Model.NextCategory }, { "exerciseName", Model.NextExercise } };
            }

            @{
                using (Html.BeginForm("PostSolution", "Exercise", FormMethod.Post))
                {
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input type="hidden" value="@exercise.Category" name="category" />
                        <input type="hidden" value="@exercise.FileName" name="exerciseName" />
                        <textarea class="form-control" rows="5" name="userSolution" id="userSolution" value="@exercise.Code">@exercise.Code</textarea>

                    </div>
                    <div>
                        <button type="submit" onclick="setLastExercise('@Model.ActiveCategory', '@Path.GetFileNameWithoutExtension(Model.ActiveExercise.FileName)')" value="@exercise" class="check-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            CHECK
                        </button>
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/@Model.NextCategory/@Model.NextExercise">NEXT</a>
                    </div>
                }

            }

        </div>
        @{
            if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="alert alert-info" role="alert">
                    <pre>@Model.Result</pre>
                </div>
            }
        }


        <hr />

        <div class="panel panel-default">
            <label class="collapse panel-heading" for="_1">Hint</label>
            <input id="_1" type="checkbox">
            <div class="panel-body">
                @exercise.Hint
            </div>
        </div>

        <div class="panel panel-default">
            <label class="collapse panel-heading" for="_2">Solution</label>
            <input id="_2" type="checkbox">
            <div class="panel-body">
                @exercise.Solution
            </div>
        </div>

    </div>
</div>

<script>
    function setLastExercise(category, exercise) {
        if ('localStorage' in window && window['localStorage'] !== null) {
            console.log(category);
            localStorage.setItem('category', category);
            localStorage.setItem('exercise', exercise);
        }
    }
</script>