﻿@model Haskify.Models.ExerciseViewModel
<div>
    <h2>HELLO!</h2>

    <p>Want to learn some Haskell?</p>

    <p>Just choose a category from the menu and start hacking! :)</p>
   
    <a id="btnContinue" href="/Math" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">START HACKING</a>
    
</div>


<script>
    $(document).ready(function () {
        getLastExercise();
    });

    function getLastExercise() {
        if (localStorage.length !== 0) {
            var url = "/" + localStorage.getItem("category") + "/" + localStorage.getItem("exercise");
            $("#btnContinue").attr('href', url);
            $("#btnContinue").text("CONTINUE");
        } 
    }
</script>

