﻿body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
    padding-right: 15px;
    background-color: aliceblue;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
 .mdl-layout__header-row a,
 .mdl-layout__header-row a:visited {
     color: #FFF;
     text-decoration: none;
 }
 
.container {
    padding: 130px 15px 0px 15px;
}

.sub-menu {
    list-style-type: none;
}

main {
    width: 100%;
}
.mdl-textfield,
.mdl-textfield textarea {
    min-width: 100%;
}

.solution-form-wrap {
    margin-bottom: 30px;
}

.collapse{
  cursor: pointer;
  display: block;
  background: #cdf;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}

.collapsedMenu + input{
  display: none; /* hide the checkboxes */
}
.collapsedMenu + input + ul{
  display:none;
}
.collapsedMenu + input:checked + ul{
  display:block;
}

.mdl-layout__tab-bar-container a.active {
background-color: #fff;
    color: #3F51B5;
}

.mdl-layout__tab-bar-container a:hover {
color: #fff;
    font-weight: bold;
    border-bottom: 4px solid #fff;
text-decoration: none;
}

.activeMenu {
    background-color: #3F51B5;
    color: #fff !important;
    font-weight: bold;
    text-decoration: none; 
}