﻿@model Haskify.Models.CategoryViewModel

@{
    Layout = null;
}

<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Exercises</span>
    @foreach (var category in Model.Categories)
            {
        <nav class="mdl-navigation">

            <label class="collapsedMenu mdl-navigation__link @Model.IsCategoryActive(category.CategoryName)" for="@category.CategoryName">@category.CategoryName</label>
            <input id="@category.CategoryName" type="checkbox">
            <ul class="mdl-navigation sub-menu">
                <li>
                    <a class="mdl-navigation__link @Model.IsExerciseActive("Introduction", category.CategoryName)" href="/@category.CategoryName">Introduction</a>
                </li>
                @foreach (var exercise in category.CategoryExercises)
                {
                    <li>
                        <a class="mdl-navigation__link @Model.IsExerciseActive(exercise, category.CategoryName)" href="/@category.CategoryName/@exercise">@exercise</a>
                    </li>
                }
            </ul>
        </nav>
    }

</div>