﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--scroll">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <a class="mdl-layout-title" href="/">Haskify</a>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>

            </div>
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                @if (Model.CategoryExercises != null)
            {
                    <a href="/@Model.ActiveCategory" class="mdl-layout__tab">@Model.ActiveCategory</a>
                    foreach (var exercise in Model.CategoryExercises)
                    {
                        <a href="/@Model.ActiveCategory/@exercise" class="mdl-layout__tab @(Model.IsActive(exercise))"> @exercise </a>
                    }
                }
            </div>
        </header>

        @Html.Action("GetCategories", "Exercise")
    </div>

    <div class="container page-content">
        <main class="mdl-layout__content">
            @RenderBody()
        </main>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
